body p {
  font-weight: 500;
}

.toast-container {
  position: absolute;
  top: 10%;
  right: 0;
  z-index: 2050;
  width: 20%;
  height: 90%;
  display: block;
  background-color: transparent;
}

.loading-screen {
  position: absolute;
  top: 0;
  z-index: 999999999;
  width: 100%;
  height: 100%;
  display: block;
  background: rgba(0, 0, 0, 0.185);
}

.loader-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  z-index: 9999999999;
}

.is-hide {
  display: none;
}

.btn:active {
  opacity: 0.7;
  transition: 0.2s all linear;
}

.dataTables_wrapper button.btn {
  font-size: 14px !important;
  padding: 0.375rem 1.75rem !important;
  font-weight: 600 !important;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.dataTables_wrapper button.btn:hover {
  opacity: 0.8;
  color: rgb(70, 70, 70);
}

.dataTables_wrapper button.btn-xs {
  padding: 0.2rem 0.7rem !important;
  font-size: 11px !important;
}

tr td,
th {
  font-size: 13px !important;
  padding: 0.75rem !important;
  font-weight: 500;
}

tr th:last-of-type,
td:last-of-type {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

div.dataTables_wrapper {
  font-family: 'Montserrat', sans-serif;
}

.dataTables_wrapper table.dataTable thead th,
.dataTables_wrapper table.dataTable thead td {
  border-bottom: 0px;
}

.dataTables_wrapper table.dataTable tbody td:last-of-type,
.dataTables_wrapper table.dataTable tbody th:last-of-type {
  display: flex;
  flex-wrap: nowrap;
  border: none !important;
  align-items: center;
  height: 100%;
}

table.dataTable.stripe tbody tr.odd,
table.dataTable.display tbody tr.odd {
  background-color: #ffffff;
}

button#btn-filter-order {
  height: 35px;
  padding: 5px;
}

button#btn-addnew-order {
  height: 35px;
  padding: 5px;
}

span.select2.select2-container.select2-container--default.select2-container--below {
  padding: 0;
}

span.select2.select2-container.select2-container--default {
  padding: 0;
}

.select2-container .select2-selection--single {
  border-radius: 0.25rem !important;
  border-color: #e6edef !important;
  height: 35px !important;
  padding: 3px;
}

@media screen and (min-width: 992px) {
  .modal-lg,
  .modal-xl {
    max-width: 1200px;
  }
}
